<footer class="site-footer">

  <div class="wrapper">

    © Jonathan Chang 2016

    <ul class="contact-me">
      <li>
        <a href="https://github.com/dotheygandalf/" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
      </li>
      <li>
        <a href="mailto:prancingwithponies@live.com" target="_blank"><i class="fa fa-envelope-o" aria-hidden="true"></i></a>
      </li>
      <li>
        <a href="https://www.linkedin.com/in/jonathan-chang-0585294b" target="_blank"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
      </li>
      <li>
        <a href="https://www.instagram.com/dotheygandalf" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
      </li>
    </p>

  </div>

</footer>
