<footer class="p-footer p-footer--alt">

  <div class="wrapper">

    © Jonathan Chang 2019

    <ul class="contact-me">
      <li>
        <a href="https://github.com/dotheygandalf/" target="_blank"><i class="fab fa-github-square" aria-hidden="true"></i></a>
      </li>
      <li>
        <a href="https://www.linkedin.com/in/jonathan-chang-0585294b" target="_blank"><i class="fab fa-linkedin" aria-hidden="true"></i></a>
      </li>
      <li>
        <a href="https://www.instagram.com/dotheygandalf" target="_blank"><i class="fab fa-instagram" aria-hidden="true"></i></a>
      </li>
      <li>
        <a href="mailto:prancingwithponies@live.com" target="_blank"><i class="fa fa-envelope" aria-hidden="true"></i></a>
      </li>
      </p>

  </div>

</footer>