<header class="p-header p-header--alt">

  <div class="p-header__wrapper">
    <a class="p-nav__title" href="{{ site.baseurl }}/">{{ site.title }}</a>
    <div class="p-nav__right">
      <ul class="p-nav__items">
        <li class="p-nav__item">
          <a class="p-nav__link" href="{{ site.baseurl }}/contact">Contact</a>
        </li>
        <li class="p-nav__item">
          <a class="p-nav__link" href="{{ site.baseurl }}/work">Work</a>
        </li>
        <li class="p-nav__item">
          <a class="p-nav__link" href="{{ site.baseurl }}/photography">Photography</a>
        </li>
      </ul>
    </div>
  </div>

</header>