<header class="site-header">

  <div class="wrapper">
    <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>
    <div class="nav-right">
      <ul>
        <li>
          <a class="nav-link" href="{{ site.baseurl }}/photography">Photography</a>
        </li>
        <li>
          <a class="nav-link" href="{{ site.baseurl }}/work">Work</a>
        </li>
        <li>
          <a class="nav-link" href="{{ site.baseurl }}/about">About</a>
        </li>
      </ul>
    </div>
  </div>

</header>
