<header class="p-header">
  <div class="p-header__wrapper">
    <a class="p-nav__title" href="/">{{ site.title }}</a>
    <div class="p-nav__right">
      <ul class="p-nav__items">
        <li class="p-nav__item">
          <a class="p-nav__link" href="/assets/jonathanchang-resume-2021.pdf">Resume</a>
        </li>
        <li class="p-nav__item">
          <a class="p-nav__link" href="/about">About</a>
        </li>
        <li class="p-nav__item">
          <a class="p-nav__link" href="/photography">Photography</a>
        </li>
      </ul>
    </div>
  </div>
</header>