/**
 * Site header
 */
.site-header {
  min-height: 70px;
  margin-top: 20px;

  // Positioning context for the mobile navigation icon
  position: relative;

  .nav-right {
    ul {
      list-style: none;
      margin: 0;

      li {
        a {
          display: block;
          margin-left: 20px;
        }
      }
    }
  }
}

.page {
  h1 {
    color: #333;
  }

  img {
    margin-bottom: 10px;
  }
}

.index {

  .wrapper {
    max-width: 650px;
  }

  .attributes {
    list-style: none;
    margin: 0;
    margin-bottom: 15px;

    li {
      font-family: "Source Code Pro", monospace;
    }
  }
}

.site-title, .nav-link {
  letter-spacing: -1px;
  margin-bottom: 0;
}

.site-title {
    float: left;
}

.nav-link {
  float: right;
}

.site-nav {
  float: right;
  line-height: 56px;

  .menu-icon {
    display: none;
  }

  .page-link {
    color: $text-color;
    line-height: $base-line-height;

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
        margin-right: 20px;
    }
  }

  @include media-query($on-palm) {
    position: absolute;
    top: 9px;
    right: $spacing-unit / 2;
    background-color: $background-color;
    border: 1px solid $grey-color-light;
    border-radius: 5px;
    text-align: right;

    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;

      > svg {
        width: 18px;
        height: 15px;

        path {
          fill: $grey-color-dark;
        }
      }
    }

    .trigger {
      clear: both;
      display: none;
    }

    &:hover .trigger {
      display: block;
      padding-bottom: 5px;
    }

    .page-link {
      display: block;
      padding: 5px 10px;

      &:not(:last-child) {
        margin-right: 0;
      }
      margin-left: 20px;
    }
  }
}



/**
 * Site footer
 */
.site-footer {
  padding: $spacing-unit*2 0;
  text-align: center;

  .contact-me {
  list-style: none;
  margin: 0;

  li {
    display: inline-block;
    margin: 0 15px;
    }
  }
}


/**
 * Page content
 */
.page-content {
  padding: $spacing-unit 0 0 0;

  @include media-query($on-palm) {
      padding-top: 0;
  }
}

.page-heading {
  font-size: 20px;
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }

}

/* Index page */
.post-left {
  @include media-query($on-palm) {
    width: 100%;
    margin-bottom: 0;
  }
}

.post-right {
  text-align: center;

  @include media-query($on-palm) {
    width: 100%;
  }

  .post-details {
    padding: 15px 20px;
    background: #14926F;
    color: #fff;
  }

  h1 {
    background: #0A5843;
    margin: 0;
    padding: 10px 20px;
  }

  p {
    margin: 0;
    padding: 0;
    font-size: 18px;
  }
}

.post-link {
  &:hover {
    background: #074E3B;
  }

  h1 {
    margin: 0;
  }

  a {
    color: #fff;

    &:hover {
      background: initial;
    }
  }
}

.post-caption {
  text-transform: uppercase;
  font-size: $small-font-size;
  margin: 0;
  background: #14926F;
  color: #fff;
  padding: 5px 20px;
}


/**
 * Posts
 */
.post-header {
  padding: 180px 0 70px;
  background-color: #14926F;
  color: #ffffff;
}

.post-title {
  text-align: center;
  font-size: 48px;
  color: #fff;
  margin-bottom: 60px;

  @include media-query($on-laptop) {
    font-size: 38px;
  }
}

.post-info {
  width: 100%;
  margin: 0;

  .col-4 {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 4%;

    span {
      color: #94C7B6;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  @include media-query($on-palm) {
    margin-left: 20%;
    font-size: 16px;

    .col-4 {
      width: 50%;
    }
  }
}

.post-content {
  h1 {
    font-size: 38px;

    @include media-query($on-laptop) {
      font-size: 32px;
    }
  }

  h2 {
    font-size: 2.61803rem;
    padding-top: $spacing-unit;
    margin-bottom: 2rem;

    @include media-query($on-laptop) {
      font-size: 28px;
    }
  }

  h3 {
    font-size: 1.61803rem;

    @include media-query($on-laptop) {
      font-size: 22px;
    }
  }

  h4 {
    font-size: 20px;

    @include media-query($on-laptop) {
      font-size: 18px;
    }
  }
}


/**
 * Styling in posts
 */
.midsize-image {
  max-width: 1200px;
  background: inherit;
  margin: $spacing-unit auto;
  text-align: center;

  &:last-child {
    margin-bottom: 0;
  }

  @media (max-width: 700px) {
    margin: $spacing-unit/2 auto;
  }
}

.full-bleed {
  width: 100%;
  padding: $spacing-unit*2 0;

  &.beige {
    background-color: #EFE8DC;
  }

  &.orange {
    background: #FDBD5C;
  }

  @include media-query($on-palm) {
    padding: $spacing-unit 0;
  }
}

.full-bleed-grey {
  @extend .full-bleed;
  background: $grey-color-light;
}

.full-bleed-white {
  @extend .full-bleed;
  background: #fff;
}

.center {
  text-align: center;
}

.bold {
  font-weight: bold;
}
